[mysql]
socket = /tmp/mysql.sock
default-character-set=utf8

[mysqld]
skip-host-cache
skip-name-resolve
character_set_server=utf8
port = 3306
datadir=/data/mysql/
socket=/tmp/mysql.sock
user=mysql
symbolic-links=0

server_id = 116
log-bin = master-bin
binlog_format = mixed
lower_case_table_names=1
slow_query_log = on
slow_query_log_file = /data/logslow/mysql_slow.log
long_query_time=20

max_connections = 3000
expire_logs_days = 7
tmp_table_size = 512M
max_heap_table_size = 256M
max_connect_errors = 10
#default_table_type = INNODB#
transaction_isolation = READ-COMMITTED
wait_timeout=3153600

key_buffer_size = 16M
bulk_insert_buffer_size = 16M
max_allowed_packet = 512M
sort_buffer_size = 16M
max_length_for_sort_data = 8388608
read_buffer_size = 16M
join_buffer_size = 16M
read_rnd_buffer_size = 16M
thread_concurrency = 8
query_cache_type = 0
query_cache_size = 128M

binlog_cache_size = 16M
innodb_buffer_pool_size = 2G
innodb_read_io_threads = 1
innodb_write_io_threads = 16
innodb_thread_concurrency = 16

innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 1G
innodb_log_files_in_group = 3
innodb_autoextend_increment = 128M
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/data/mysql/sqlsale.pid

[mysqldump]
quick
max_allowed_packet = 32M
